@import '../../assets/scss/abstracts/variables';

.benefits {
  padding: 4rem 0;
}

.svg-circle {
  width: 50%;

  circle {
    fill: $gray-400;
  }
}

.benefits .row:nth-child(2) .svg-circle circle {
  fill: $gray-600;
}
